!!! 5
html(lang="en")
  head
    // Dependencies
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js")
    script(src="/js/underscore-min.js")
    script(src="/js/backbone.js")
    script(src="/js/json2.js")
    script(src="/dnode.js")
    
    // Application core
    script(src="/bootstrap.js")
    script(src="/helpers.js")
    
    // Remote procedure calls
    script(src="/rpc/pubsub.js")
    script(src="/rpc/crud.js")
    
    // Start application
    script(src="/init.js")
  body