@import url('aebleskiver/jquery-ui-1.8.11.aebleskiver.css');
@import url('//cdn.wijmo.com/jquery.wijmo-open.1.1.5.css');
@import url('jquery.jscrollpane.css');
@import url('jquery.cssemoticons.css');

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }


/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */

body { font:13px/1.231 sans-serif; *font-size:small; } /* Hack retained to preserve specificity */
select, input, textarea, button { font:99% sans-serif; }

/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp { font-family: monospace, sans-serif; }


/**
 * menuOpen base styles.
 */

/* Always force a scrollbar in non-IE */
html { overflow-y: scroll; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }

small { font-size: 85%; }
strong, th { font-weight: bold; }

td { vertical-align: top; }

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre {
    /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
    white-space: pre; white-space: pre-wrap; word-wrap: break-word;
    padding: 15px;
}

textarea { overflow: auto; } /* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.ie6 legend, .ie7 legend { margin-left: -7px; } 

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
a, label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0; }

/* Colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
    border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
::-moz-selection{ background: #eaffc3; color:#111; text-shadow: none; }
::selection { background:#eaffc3; color:#111; text-shadow: none; }

/* j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; }

/* Make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }

/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }

/**
 * You might tweak these..
 */
body, select, input, textarea {
    /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
    color: #444;
    /* Set your base font here, to apply evenly */
    font-family: 'Droid Sans', Arial, sans-serif;
    font-size: 12px;
    line-height: 1;
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

/**
    Colors: Blackcurrent Birds by auzulkc
    See: http://kuler.adobe.com/
    
    94b24d - Pale green
    d3ff82 - Lime green
    
        e8febe - lighter
        b4e064 - darker
    
    363d52 - Slate
    121d2b - Dark slate
    111b1c - Dark gray
    
    Greens:
        
        eaffc3
        dffca9
        d3ff82
        c4f074
        b9e567
        acd959
        a0cd4d
        94bf43
        7ea633
        
**/
/**
    Template
**/
#port,
#token, 
#version,
#rooms .stat .title
{ 
    display: none; 
}

/**
#navigation #login,
#navigation #settings,
#navigation #signup,
#navigation #logout
{
    float: right;
}

#navigation #signup {
    border-left: 0;
}
#navigation #login {
    border-right: 0;
}
**/
    
/**
    Top Rounded corners
**/
.dialog .title,
#footer .heading
{
       -moz-border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
            border-radius: 8px 8px 0 0;
}
/**
    Bottom Rounded corners
**/
.dialog .controls
{
       -moz-border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
            border-radius: 0 0 8px 8px;
}
/**
    Full Rounded corners
**/
.dialog
{
       -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
            border-radius: 8px;
}
/**
    Transitions
**/
body .ui-dialog,
.wrapper,
#navigation,
#navigation li,
#main,
#main-content, 
#sidebar,
#sidebar-wrapper,
#sidebar-controls,
#sidebar-content,
.friend-list,
.favorite-list
{
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}
/**
    Shadows
**/
.dialog,
.friend-wrapper,
.favorite-wrapper,
#footer .controls,
#footer .heading
{
       -moz-box-shadow: 1px 1px 4px #222;
    -webkit-box-shadow: 1px 1px 4px #222;
            box-shadow: 1px 1px 4px #222;
}
.main-room .name,
.user-profile .name,
#sidebar-controls 
{
    background-color: #eee;
    background-image: -moz-linear-gradient(top, #eee, #fff);
    background-image: -o-linear-gradient(top, #eee, #fff);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eee),color-stop(1, #fff));
    background-image: -webkit-linear-gradient(#eee, #fff);
    background-image: linear-gradient(top, #eee, #fff);
    
    background-color: #efefef;
    background-image: -moz-linear-gradient(top, #efefef, #dddddd);
    background-image: -o-linear-gradient(top, #efefef, #dddddd);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #efefef),color-stop(1, #dddddd));
    background-image: -webkit-linear-gradient(#efefef, #dddddd);
    background-image: linear-gradient(top, #efefef, #dddddd);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#efefef', EndColorStr='#dddddd');
}
#sidebar-down
{
    background-color: #fff;
    background-image: -moz-linear-gradient(top, #fff, #eee);
    background-image: -o-linear-gradient(top, #fff, #eee);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #fff),color-stop(1, #eee));
    background-image: -webkit-linear-gradient(#fff, #eee);
    background-image: linear-gradient(top, #fff, #eee);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fff', EndColorStr='#eee');
            
    background-color: #efefef;
    background-image: -moz-linear-gradient(top, #efefef, #dddddd);
    background-image: -o-linear-gradient(top, #efefef, #dddddd);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #efefef),color-stop(1, #dddddd));
    background-image: -webkit-linear-gradient(#efefef, #dddddd);
    background-image: linear-gradient(top, #efefef, #dddddd);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#efefef', EndColorStr='#dddddd');
}

/**
    Typography styles
**/
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-weight: normal;
}
h1 { 
    font-size: 22px;
    /* margin: 20px 20px 0; */
}
h2 { 
    font-size: 22px;
}
h3 { 
    font-size: 18px;
}
h4,h5,h6 { 
    font-size: 18px;
}
label {
    font-size: 15px;
    line-height: 30px;
}
button,
.button,
.submit,
input[type='submit'],
input[type='text'],
input[type='password'],
input[type='email'],
input[type='search'],
textarea
{
    color: #555;
    font-weight: normal;
    font-family: 'Droid Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 1;

    border: 1px solid #B0B0B0;
       -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
            border-radius: 4px;
}
input[type='text'],
input[type='password'],
input[type='email'],
input[type='search'],
textarea
{
    font-size: 16px;
    text-shadow: 1px 1px 1px white;
    font-weight: bold;
    padding: 0 7px;
    height: 30px;
    line-height: 1;

    background-color: #fff;
    background-image: -moz-linear-gradient(top, #fff, #efefef);
    background-image: -o-linear-gradient(top, #fff, #efefef);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #fff),color-stop(1, efefef));
    background-image: -webkit-linear-gradient(#fff, #efefef);
    background-image: linear-gradient(top, #fff, #efefef);
              filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fff', EndColorStr='#efefef');
}
textarea { 
    height: auto;
    min-height: 75px;
    padding: 7px;
}

button,
.button,
.submit,
input[type='submit']
{
       -moz-box-shadow: 1px 1px 1px #aaa;
    -webkit-box-shadow: 1px 1px 1px #aaa;
            box-shadow: 1px 1px 1px #aaa;
                    
    text-shadow: 1px 1px 1px white;
    text-align: center;
    text-decoration: none;

    display: inline-block;
    position: relative;
    padding: 0 15px;
    height: 30px;
    margin-right: 5px;
    cursor: pointer;
    zoom: 1;
    overflow: visible;
    font-size: 13px;
    
    background-color: #eee;
    background-image: -moz-linear-gradient(top, #eee, #ddd);
    background-image: -o-linear-gradient(top, #eee, #ddd);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eee),color-stop(1, #ddd));
    background-image: -webkit-linear-gradient(#eee, #ddd);
    background-image: linear-gradient(top, #eee, #ddd);
              filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eee', EndColorStr='#ddd');
}
button:hover,
.button:hover
{
       -moz-box-shadow: 1px 1px 1px #666;
    -webkit-box-shadow: 1px 1px 1px #666;
            box-shadow: 1px 1px 1px #666;
            
    background-color: #e0e0e0;
    background-image: -moz-linear-gradient(top, #e0e0e0, #d0d0d0);
    background-image: -o-linear-gradient(top, #e0e0e0, #d0d0d0);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #e0e0e0),color-stop(1, #d0d0d0));
    background-image: -webkit-linear-gradient(#e0e0e0, #d0d0d0);
    background-image: linear-gradient(top, #e0e0e0, #d0d0d0);
              filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#e0e0e0', EndColorStr='#d0d0d0');
}
.message-form button,
input[type='submit'], 
.submit 
{
    color: #444;
    text-shadow: 1px 1px 1px white;
    font-weight: bold;
    
    background-color: #dffca9;
    background-image: -moz-linear-gradient(top, #dffca9, #b9e567);
    background-image: -o-linear-gradient(top, #dffca9, #b9e567);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #dffca9),color-stop(1, #b9e567));
    background-image: -webkit-linear-gradient(#dffca9, #b9e567);
    background-image: linear-gradient(top, #dffca9, #b9e567);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#dffca9', EndColorStr='#b9e567');
}
.message-form button:hover,
input[type='submit']:hover, 
.submit:hover 
{
    background-color: #d3ff82;
    background-image: -moz-linear-gradient(top, #d3ff82, #acd959);
    background-image: -o-linear-gradient(top, #d3ff82, #acd959);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #d3ff82),color-stop(1, #acd959));
    background-image: -webkit-linear-gradient(#d3ff82, #acd959);
    background-image: linear-gradient(top, #d3ff82, #acd959);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#d3ff82', EndColorStr='#acd959');
}
.message-form button:active,
input[type='submit']:active, 
.submit:active 
{
    background-color: #C4F074;
    background-image: -moz-linear-gradient(top, #C4F074, #a0cd4d);
    background-image: -o-linear-gradient(top, #C4F074, #a0cd4d);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #C4F074),color-stop(1, #a0cd4d));
    background-image: -webkit-linear-gradient(#C4F074, #a0cd4d);
    background-image: linear-gradient(top, #C4F074, #a0cd4d);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#C4F074', EndColorStr='#a0cd4d');
}

html {
    height: 100%;
    background: #8d8d8d;
    overflow: hidden;
}
body {
    height: 100%;
    line-height: 1.6;
}

#application {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    min-height: 300px;
    min-width: 600px;
}
.wrapper {
    height: 100%;
}
#header,
#footer {
    width: 100%;
    z-index: 9;
    height: 29px;
    
    border-bottom: 1px solid #AAA;
    border-left: 1px solid #aaa;
    border-right: 1px solid #dedede;
    background-color: #EEE;
    background-image: -moz-linear-gradient(top, #EEE, #CCC);
    background-image: -o-linear-gradient(top, #EEE, #CCC);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #EEE),color-stop(1, #CCC));
    background-image: -webkit-linear-gradient(#EEE, #CCC);
    background-image: linear-gradient(top, #EEE, #CCC);
              filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#EEE', EndColorStr='#CCC');
}
    #logo {
        display: none;
        position: absolute;
        left: 0;
        padding: 0 20px;
        margin: 0;
        font-size: 30px;
        font-weight: bold;
        text-shadow: 2px 2px 2px #fff;
        line-height: 50px;
        height: 50px;
        top: 0;
        bottom: 0;
        color: #891100;
        
        color: #45281C;
        text-decoration: none;
        text-shadow: 0 1px 0 rgba(255, 255, 255, .3);
        filter: dropshadow(color=#BF8F6B,offX=0,offY=1);
    }
/**
    Main menu
**/
#navigation {
    min-width: 300px;
    position: absolute;
    height: 30px;
    margin: 0;
    left: 0;
    right: 0;
    border-left: 1px solid #aaa;
    color: #444;
    list-style: none outside;
    text-shadow: 1px 1px 1px #fff;
    text-align: left;
    font-size: 13px;
    z-index: 99;
}
    #navigation a,
    #sidebar-up button {
        padding: 0 20px;
        border-left: 1px solid #DEDEDE;
        border-right: 1px solid #AAA;
        color: #444;
        text-decoration: none;
        text-shadow: 1px 1px 1px #efefef;
        line-height: 30px;
        float: left;
    }
        #navigation a:hover,
        #sidebar-up button:hover {
            color: #000;
            text-shadow: 1px 1px 1px #fff;
            background-color: #fff;
            background-image: -moz-linear-gradient(top, #fff, #EFEFEF);
            background-image: -o-linear-gradient(top, #fff, #EFEFEF);
            background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #fff),color-stop(1, #EFEFEF));
            background-image: -webkit-linear-gradient(#fff, #EFEFEF);
            background-image: linear-gradient(top, #fff, #EFEFEF);
                      filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fff', EndColorStr='#EFEFEF');
            }
#footer {
    height: 50px;
    z-index: 3;
    position: absolute;
    bottom: 0;
    border: 0;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #5d5d5d;
}
    #copyright {
        display: none;
    }
    .author {
        display: none;
        color: #5d5d5d;
        font-size: 12px;
        font-weight: bold;
        text-shadow: 1px 1px 3px #444;
    }
    #favorite-list,
    #friend-list {
        height: 50px;
        float: left;
        z-index: 99;
    }
    #favorite-list {
        z-index: 98;
    }
        #footer .title {
            font-weight: bold;
            font-size: 14px;
            display: block;
            margin: 5px;
            border: 1px solid #aaa;
            height: 40px;
            line-height: 40px;
            z-index: 3;
        }
        .favorite-wrapper,
        .friend-wrapper {
            width: 188px;
            min-height: 200px;
            position: absolute;
            margin: 0 5px;
            z-index: -1;
            display: none;
        }
            .open .favorite-wrapper,
            .open .friend-wrapper {
                bottom: 44px;
                z-index: 2;
                display: block;
            }
        #footer .heading {
            line-height: 30px;
            font-weight: bold;
            font-size: 14px;
            padding-left: 10px;
            height: 30px;
            position: absolute;
            top: -50px;
            left: 0;
            right: 0;
            background-color: #fff;
            background-image: -moz-linear-gradient(top, #fff, #eee);
            background-image: -o-linear-gradient(top, #fff, #eee);
            background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #fff),color-stop(1, #eee));
            background-image: -webkit-linear-gradient(#fff, #eee);
            background-image: linear-gradient(top, #fff, #eee);
                      filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fff', EndColorStr='#eee');
        }
        .favorites,
        .friends {
            background: white;
            overflow-y: auto;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
        #footer .controls {
            height: 19px;
            position: absolute;
            top: -20px;
            left: 0;
            right: 0;
            border-bottom: 1px solid #aaa;
            background: white;
        }
    
#conversations {
    height: 50px;
    font-size: 10px;
}
    .conversation {
        height: 50px;
        float: left;
        width: 200px;
        z-index: 99;
        position: relative;
        margin-right: 10px;
    }
    .conversation .destroy {
        z-index: 99;
        right: 3px;
    }
    .conversation .messages {
        z-index: 98;
    }
        #footer .conversation .heading {
            top: 0;
            font-weight: bold;
            font-size: 14px;
            display: block;
            margin: 5px;
            border: 1px solid #AAA;
            height: 40px;
            line-height: 40px;
            z-index: 3;
        }
        .conversation .messages {
            display: none;
            min-height: 200px;
            position: absolute;
            margin: 0;
            z-index: -1;
            background-color: #eee;
        }
            .conversation .message .small-avatar,
            .conversation .message .created {
                display: none;
            }
        .conversation .statistics,
        .conversation .controls {
            display: none;
        }
        .conversation .message-form {
            display: none;
            background-color: #fff;
            background-image: -moz-linear-gradient(top, #fff, #eee);
            background-image: -o-linear-gradient(top, #fff, #eee);
            background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #fff),color-stop(1, #eee));
            background-image: -webkit-linear-gradient(#fff, #eee);
            background-image: linear-gradient(top, #fff, #eee);
                      filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fff', EndColorStr='#eee');
            border: 1px solid #aaa;
        }
            .conversation .message-form button {
                display: none;
                width: 25px;
                margin: 5px;
                height: 40px;
            }
            .conversation .message-form input {
                position: absolute;
                left: 0;
                right: 0;
                margin: 5px;
                height: 38px;
            }
            
            
    .conversation.open .destroy {
        top: -241px;
        right: -3px;
    }
    .conversation.open .messages,
    .conversation.open .message-form {
        display: block;
    }
    #footer .conversation.open .heading {
        top: -241px;
        left: 0;
        right: 0;
        padding: 0 10px;
        margin: 0;
        text-align: left;
        
           -moz-box-shadow: none;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    .conversation.open .messages {
        top: -200px;
    }
/**
    Start Menu
**/
#start-menu {
    float: left;
    width: 200px;
}
    #start-menu .heart {
        font-size: 5px;
        top: 14px;
        left: 20px;
    }
    .menuOpen #sidebar-wrapper {
        top: 100%;
    }
    .menuOpen #main-content {
        margin-left: 0;
    }
    .menuOpen #navigation {
        left: 0;
    }
    .menuOpen #start-menu .title {
        background-color: #eee;
        background-image: -moz-linear-gradient(top, #eee, #ddd);
        background-image: -o-linear-gradient(top, #eee, #ddd);
        background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eee),color-stop(1, #ddd));
        background-image: -webkit-linear-gradient(#eee, #ddd);
        background-image: linear-gradient(top, #eee, #ddd);
                  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eee', EndColorStr='#ddd');
    }


/**
    Sidebar
**/
#sidebar-wrapper {
    width: 200px;
    top: 0;
    bottom: 0;
    margin: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
}
#sidebar {
    width: 200px;
    top: 80px;
    bottom: 201px;
    margin: 0;
    left: 0;
    position: absolute;
    z-index: 2;
}
    #sidebar-controls {
        position: absolute;
        width: 100%;
        z-index: 4;
        padding: 0;
        height: 50px;
        top: -207px;
        height: 157px;
        border-right: 1px solid #AAA;
        border-bottom: 1px solid #AAA;
        display: none;
    }
    #sidebar-up {
        border-bottom: 1px solid #CCC;
        background: #eee;
        height: 50px;
        overflow: hidden;
        position: absolute;
        left: 0;
        right: 0;
        margin-top: -50px;
        border-right: 1px solid #aaa;
    }
        #sidebar-up button {
            border-right: 1px solid #AAA;
            color: #444;
            text-decoration: none;
            text-shadow: 1px 1px 1px #EFEFEF;
            line-height: 30px;
            float: left;
            height: 50px;
            font-size: 13px;
            margin: 0;
            padding: 0 31px;
            border-left: 0;
            border-top: 0;
            border-bottom: 0;
            border-radius: 0;
            width: 99px;
        }
            #sidebar-up button:first-child {
                margin-left: 1px;
            }
            #sidebar-up button:last-child {
                border-right: 0;
            }
    #sidebar-down {
        border-right: 1px solid #aaa;
        position: absolute;
        height: 99px;
        left: 0;
        right: 0;
        border-top: 1px solid #CCC;
        overflow: hidden;
        bottom: -150px;
    }
        #sidebar-down .statistics {
            border-right: 1px solid #aaa;
            height: 70px;
            background: #f5f5f5;
            left: 8px;
            padding-top: 12px;
            
               -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
                    border-radius: 4px;
                    
               -moz-box-shadow: inset 1px 1px 3px #5d5d5d;
            -webkit-box-shadow: inset 1px 1px 3px #5d5d5d;
                    box-shadow: inset 1px 1px 3px #5d5d5d;
        }
            #sidebar-down .stat .title {
                color: #777;
                text-shadow: 1px 1px 1px white;
                font-size: 12px;
                line-height: 15px;
                margin: 0 5px;
            }
            #sidebar-down .stat .value {
                color: #777;
                text-shadow: 1px 1px 1px white;
                line-height: 15px;
                padding: 0;
                margin-right: 5px;
                text-align: right;
                font-size: 12px;
                width: auto;
            }
            #sidebar-down .info .title {
            }
            #sidebar-down .info .value {
                color: #111;
            }
    #sidebar-content {
        height: 100%;
        overflow: hidden;
        background: #EEE;
        clear: both;
    }
    
    
/**
    Search form
**/
#search-form {
    position: absolute;
    background: #EEE;
    bottom: -50px;
    height: 49px;
    left: 0;
    right: 0;
    border-top: 1px solid #bbb;
    border-right: 1px solid #aaa;
}
    #search {
        position: absolute;
        top: 10px;
        left: 10px;
        bottom: 10px;
        right: 49px;
        padding-left: 12px;
           -moz-border-radius: 20px 0 0 20px;
        -webkit-border-radius: 20px 0 0 20px;
                border-radius: 20px 0 0 20px;
    }
    #search-now {
        width: 40px;
        position: absolute;
        right: 0;
        padding: 0 10px;
        margin: 10px;
        height: 32px;
           -moz-border-radius: 0 20px 20px 0;
        -webkit-border-radius: 0 20px 20px 0;
                border-radius: 0 20px 20px 0;
        
           -moz-box-shadow: none;
        -webkit-box-shadow: none;
                box-shadow: none;
    }

/**
    Sidebar list items
**/
#users, #rooms {
    overflow-y: auto;
    height: 100%;
    border-top: 1px solid #AAA;
}
    #users {
        border-top: 1px solid #bbb;
        display: none;
    }
    #rooms {
    }
        .user, 
        .room {
            min-height: 55px;
            border-right: 1px solid #aaa;
            position: relative;
            padding: 0;
            cursor: pointer;
            border-bottom: 1px solid #aaa;
            z-index: 5;
            background-color: #eee;
            background-image: -moz-linear-gradient(top, #eee, #ddd);
            background-image: -o-linear-gradient(top, eee, #ddd);
            background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eee),color-stop(1, #ddd));
            background-image: -webkit-linear-gradient(#eee, #ddd);
            background-image: linear-gradient(top, #eee, #ddd);
                      filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eee', EndColorStr='#ddd');
        }
        .user:hover, 
        .room:hover {
            color: #000;
            background-color: #d3ff82;
            background-image: -moz-linear-gradient(top, #d3ff82, #b4e064);
            background-image: -o-linear-gradient(top, #d3ff82, #b4e064);
            background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #d3ff82),color-stop(1, #b4e064));
            background-image: -webkit-linear-gradient(#d3ff82, #b4e064);
            background-image: linear-gradient(top, #d3ff82, #b4e064);
                      filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#d3ff82', EndColorStr='#b4e064');
        }
        #users .user:first-child, 
        #rooms .room:first-child {
            border-top: 0;
        }
            .user .avatar {
                position: absolute;
                left: 0;
                padding: 10px;
                height: 30px;
                width: 30px;
            }
                .user .avatar img {
                    width: 30px;
                    height: 30px;
                }
        #users .user.current, 
        #rooms .room.current {
            background-color: #fff;
            background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #fff),color-stop(1, #eee));
            background-image: -webkit-linear-gradient(#fff, #eee);
        }
            .user.current a, .user.current a:hover,
            .room.current a, .room.current a:hover {
                color: #000;
            }
        #rooms .room.active {
            border-right: 1px solid #fafafa;
            background-color: #fff;
            background-image: -moz-linear-gradient(left, #fff, #fafafa);
            background-image: -o-linear-gradient(left, #fff, #fafafa);
            background-image: -webkit-gradient(linear,left,right,color-stop(0, #fff),color-stop(1, #fafafa));
            background-image: -webkit-linear-gradient(left, #fff, #fafafa);
            background-image: linear-gradient(left, #fff, #fafafa);
                      filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fff', EndColorStr='#fafafa');
        
        }
            .room.active a, .room.active a:hover {
                color: #000;
            }
            .user.current .statistics,
            .room.current .statistics {
            }
        .user a,
        .room a {
            display: block;
            overflow: hidden;
            text-decoration: none;
            padding: 0;
            color: #333;
            text-shadow: 1px 1px 1px #efefef;
            height: auto;
            max-height: 130px;
            line-height: 50px;
        }
            .user a:hover,
            .room a:hover {
                color: #222;
                text-shadow: 1px 1px 1px #fff;
            }
        .user .statistics,
        .room .statistics {
            top: 10px;
        }
        .user .username,
        .room .name {
            font-size: 15px;
            overflow: hidden;
            margin: 15px 50px 10px 10px;
            font-weight: bold;
            line-height: 1.3;
        }
        .user .username {
            margin: 0 10px 0 50px;
        }
        .room .description {
            margin: 5px;
            padding: 5px;
        }
    
    #room-form {
        font-size: 14px;
    }
    #create-room-button {
        margin: 0 10px 0 10px;
        padding: 5px 0;
        float: left;
        width: 23%;
    }
    #create-room-input {
        margin: 10px;
        display: block;
        padding: 3px 5px;
        width: 62%;
    }
    
    body .ui-widget {
        font-family: 'Droid Sans', Arial, sans-serif;
        font-size: 14px;
        line-height: 1;
    }
    .ranking {
        display: none;
        position: absolute;
        right: 5px;
        top: 5px;
        height: 50px;
        width: 40px;
        padding: 0 8px;
        background: white;
        
           -moz-box-shadow: inset 1px 1px 3px #5d5d5d;
        -webkit-box-shadow: inset 1px 1px 3px #5d5d5d;
                box-shadow: inset 1px 1px 3px #5d5d5d;
        
           -moz-border-radius: 4px 0 4px 40px;
        -webkit-border-radius: 4px 0 4px 40px;
                border-radius: 4px 0 4px 40px;
    }
        .upvote,
        .downvote
        {
            position: absolute;
            padding: 0;
            right: 2px;
            margin: 3px;
            height: 20px;
            width: 20px;
            font-size: 12px;
            line-height: 1;
            font-weight: bold;
        }
        .upvote {
            top: 2px;
            border: 0;
            background-color: #eee;
            background-image: -moz-linear-gradient(top, #eee, #fff);
            background-image: -o-linear-gradient(top, #eee, #fff);
            background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eee),color-stop(1, #fff));
            background-image: -webkit-linear-gradient(#eee, #fff);
            background-image: linear-gradient(top, #eee, #fff);
                      filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eee', EndColorStr='#fff');
        }
        .downvote {
            bottom: 2px;
            border: 0;
            
            background-color: #fff;
            background-image: -moz-linear-gradient(top, #fff, #eee);
            background-image: -o-linear-gradient(top, #fff, #eee);
            background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #fff),color-stop(1, #eee));
            background-image: -webkit-linear-gradient(#fff, #eee);
            background-image: linear-gradient(top, #fff, #eee);
                      filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fff', EndColorStr='#eee');
        }
        .rank {
            padding: 0;
            float: left;
            display: block;
            font-weight: bold;
            text-align: center;
            width: 20px;
            height: 40px;
            line-height: 40px;
            color: #444;
        }
        /**
            .downvote .arrow-wrap {
                top: 0;
            }
                .downvote .arrow {
                    top: -12px;
                }
        .arrow-wrap {
            bottom: 0;
            height: 9px;
            width: 17px;
            overflow: hidden;
            position: absolute;
        }
            .arrow {
                display: block;
                position: absolute;
                top: 3px;
                height: 17px;
                width: 17px;
                background-color: #5d5d5d;
                border: 0;
                   -moz-transform: rotate(45deg);
                     -o-transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                        transform: rotate(45deg);  
                           filter: progid:DXImageTransform.Microsoft.Matrix(
                                   M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476, sizingMethod='auto expand');
                             zoom: 1;
            }
                .arrow:hover {
                    background-color: #000;
                }
        **/

/**
    Main content screens
**/
#main {
    top: 30px;
    bottom: 50px;
    margin: 0;
    position: absolute;
    width: 100%;
    left: 0;
    margin: 0;
}
    #main-tabs {
        display: none;
        height: 40px;
    }
    #main-content {
        background: #fafafa;
        height: 100%;
        min-height: 300px;
        clear: both;
        margin-left: 200px;
        min-width: 215px;
    }
    #main-controls {
        display: none;
        padding: 8px;
        height: 40px;
        background: white;
        overflow: hidden;
    }
        #main-controls * { display: none; }
    .layout-controls {
        float: right;
    }

.main-room,
.user-profile {
    margin: 0;
    height: 100%;
    position: relative;
}
.headline {
    font-weight: 600;
    text-shadow: 1px 1px 1px white;
    position: absolute;
    left: 10px;
    right: 200px;
    overflow: hidden;
}
.description {
    font-size: 13px;
    line-height: 1.6;
    margin: 50px 10px 10px;
    display: none;
}
.main-room .controls {
    float: right;
    margin: -4px 40px 0 0;
    height: 87px;
}
    .admin-controls {
        display: none;
        position: absolute;
        top: 65px;
        right: 10px;
    }
        .editable .admin-controls {
            display: block;
            display: none;
        }
        .admin-controls button {
            font-size: 11px;
        }
.main-room .name,
.user-profile .name {
    overflow: hidden;
    line-height: 50px;
    font-size: 26px;
    margin: 0;
    position: relative;
    top: 0;
    padding: 0;
    height: 50px;
    border-bottom: 1px solid #aaa;
}
    .user-profile .name {
        height: 50px;
    }

.destroy {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 20px;
    width: 20px;
    margin: 10px;
    display: none;
    cursor: pointer;
    background: url(../images/destroy.png) no-repeat 0 0;
}
    .destroy {
        display: block;
    }
    .destroy:hover {
        background-position: 0 -20px;
    }
    .room .destroy {
        display: none;
    }
    
/**
    User profile specifics
**/
.user-profile {

}
    /**
    .user-profile .avatar {
        display: none;
        position: absolute;
        left: -200px;
        z-index: 88;
        width: 199px;
        height: 156px;
        top: -29px;
        background-color: #fff;
        background-image: -moz-linear-gradient(top, #fff, #efefef);
        background-image: -o-linear-gradient(top, #fff, #efefef);
        background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #fff),color-stop(1, #efefef));
        background-image: -webkit-linear-gradient(#fff, #efefef);
        background-image: linear-gradient(top, #fff, #efefef);
                  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fff', EndColorStr='#efefef');
    }
        .user-profile .avatar img {
            height: 100px;
            width: 100px;
            margin: 27px 49px;
        }
    **/
    .user-profile .details {
        margin: 10px;
        background: #ddd;
           -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
                border-radius: 4px;
    }
        .details div {
            border-top: 1px solid #fff;
            padding: 5px 10px;
            width: 100%;
        }
            .details div:first-child {
                border-top: 0; 
            }
        .details .title {
            font-weight: bold;
            margin-right: 5px;
        }
        .details .value {
        
        }
        .picture {
            text-align: center;
            width: 120px;
            height: 120px;
            float: left;
            margin: 23px 15px 0 23px;
            border: 1px solid #333;
            background-color: #fff;
            background-image: -moz-linear-gradient(top, #fff, #efefef);
            background-image: -o-linear-gradient(top, #fff, #efefef);
            background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #fff),color-stop(1, #efefef));
            background-image: -webkit-linear-gradient(#fff, #efefef);
            background-image: linear-gradient(top, #fff, #efefef);
                      filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fff', EndColorStr='#efefef');
        }
            .picture img {
                margin: 10px;
                height: 100px;
                width: 100px;
            }
    .user-profile .controls {
        margin: 0 10px;
    }
        .user-profile .controls button,
        .main-room .controls button {
            padding: 0 10px;
            height: 30px;
            min-width: 30px;
            font-size: 13px;
               -moz-border-radius: 30px;
            -webkit-border-radius: 30px;
                    border-radius: 30px;
        }
    .wall {
    
    }
        .wall .posts {
            top: 259px;
            border-top: 1px solid #E1E1E1;
        }
        .post-form {
        
        }


#welcome-text {
    overflow: hidden;
    background: #fafafa;
    height: 100%;
    min-height: 300px;
    clear: both;
    margin-left: 200px;
    min-width: 215px;
}
    #welcome-text h1 {
        font-size: 26px;
        margin: 20px;
        font-weight: bold;
    }
    #welcome-text p {
        font-size: 14px;
        margin: 10px 20px;
        max-width: 400px;
    }
/**
    Chat room message list and items
**/
.posts,
.messages {
    overflow-y: scroll;
    position: absolute;
    top: 128px;
    bottom: 50px;
    right: 0;
    left: 0;
}
.messages {
    top: 50px;
}
    .post,
    .message {
        list-style: none outside;
        padding: 10px 15px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #f1f1f1;
        overflow: hidden;
    }
        .concurrent {
        
        }
            .concurrent .username,
            .concurrent .small-avatar {
                opacity: .40;
                filter: Alpha(Opacity=40);
            }
        .post:first-child,
        .message:first-child {
            border-top: 0;
        }
        .post:last-child,
        .message:last-child {
            border-bottom: 0;
        }
        .post .created,
        .post .small-avatar,
        .post .username,
        .post .data,
        .message .created,
        .message .small-avatar,
        .message .username,
        .message .data {
            float: left;
            margin-top: 3px;
        }
        .post .created,
        .message .created {
            float: right;
        }
        .post .small-avatar,
        .message .small-avatar {
            width: 20px;
            height: 20px;
            overflow: hidden;
            display: block;
            float: left;
            margin: 0 10px 0 0;
        }
            .small-avatar img {
                height: 20px;
                width: 20px;
            }
        .post .username,
        .message .username {
            margin-right: 5px;
        }
        .post .data,
        .message .data {
            margin-left: 5px;
        }
    .post-form,
    .message-form {
        border-top: 1px solid #e1e1e1;
        display: block;
        overflow: hidden;
        position: absolute;
        height: 49px;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0;
        font-size: 16px;
    }
        .post-form button,
        .message-form button {
            float: left;
            height: 30px;
            margin: 10px;
            padding: 0;
            width: 110px;
        }
            .message-form button {
            }
            .message-form button:hover {
            }
            .message-form button:active {
            }
            .main-room .message-form button span {
                padding: 0;
            }
        .post-form .create-post,
        .main-room .message-form .create-message {
            display: block;
            height: 28px;
            margin: 10px 0 0;
            line-height: 1;
            padding: 0 10px;
            position: absolute;
            left: 130px;
            right: 10px;
        }

/**
    Statistic values
**/
.statistics {
    overflow: hidden;
    position: absolute;
    right: 8px;
    top: 10px;
    padding: 0 8px;
}
.main-room .statistics,
.user-profile .statistics {
    position: absolute;
    right: 50px;
    display: none;
}
    .statistics .stat {
        display: block;
        overflow: hidden;
    }
        .stat .title {
            display: block;
            line-height: 32px;
            text-shadow: 1px 1px 1px white;
            font-size: 14px;
            font-weight: 600;
            color: #6D6D6D;
            float: left;
            margin: 0 10px;
        }
        .stat .value {
            padding: 8px;
            float: right;
            display: block;
            font-weight: bold;
            text-align: center;
            width: 16px;
            height: 16px;
            line-height: 16px;
            color: #444;
        }
        .main-room .stat .value,
        #rooms .stat .value 
        {
        }
        
/**
    Modal / Dialog box
**/
#overlay {
    display: none;
    background: #666;
    opacity: .50;
    filter: Alpha(Opacity=50);
    z-index: 1001;
    position: absolute;
    top: 0; left: 0;
    height: 100%; width: 100%;
}
.dialog {
    outline: 0px;
    height: auto;
    width: auto;
    top: 40px;
    left: 212px;
    display: block;
    z-index: 1002;
    position: absolute;
    background: white;
}
    .dialog .content {
        padding: 20px;
        overflow: hidden;
    }
    .dialog .title {
        border: 0;
        border-bottom: 1px solid #9E9E9E;
        padding: 10px;
        background-color: #fff;
        background-image: -moz-linear-gradient(top, #fff, #eee);
        background-image: -o-linear-gradient(top, #fff, #eee);
        background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #fff),color-stop(1, #eee));
        background-image: -webkit-linear-gradient(#fff, #eee);
        background-image: linear-gradient(top, #fff, #eee);
                  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fff', EndColorStr='#eee');
    }
    .dialog .title h3 {
        clear: both;
        margin: 0;
        font-size: 28px;
        font-weight: 300;
        line-height: 1.2;
    }
    .dialog p {
        clear: both;
    }
    .dialog label {
        margin: 5px 15px 5px 5px;
        display: block;
        float: left;
        clear: left;
    }
    #register label {
    }
    .dialog input[type='text'],
    .dialog input[type='password'],
    .dialog input[type='file'],
    .dialog input[type='checkbox'],
    .dialog textarea {
        margin: 5px 0 5px 10px;
        float: right;
        clear: right;
    }
    .dialog #submit-registration,
    .dialog #submit-login {
        font-size: 24px;
        margin: 10px 0;
        padding: 20px 0;
        font-weight: bold;
        width: 100%;
    }
    .dialog .controls {
        padding: 10px;
        text-align: right;
        border-top: 1px solid #9E9E9E;
        background-color: #eee;
        background-image: -moz-linear-gradient(top, #eee, #fff);
        background-image: -o-linear-gradient(top, #eee, #fff);
        background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eee),color-stop(1, #fff));
        background-image: -webkit-linear-gradient(#eee, #fff);
        background-image: linear-gradient(top, #eee, #fff);
                  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eee', EndColorStr='#fff');
    }
        .dialog .controls button {
            margin-left: 5px;
        }


/**
    Webcam
**/
#open-webcam {
    display: none;
}
.webcam {
    display: none;
    width: auto;
}
    .webcam .camera {
        border: 2px solid #AAA;
        margin: 15px;
        height: 240px;
        width: 319px;
        overflow: hidden;
    }
    .webcam button {
        height: 30px;
        padding: 0 15px;
        font-size: 13px;
        font-weight: bold;
    }
    #test {
        margin-left: 230px;
        margin-top: 20px;
    }
    .webcam .list {
        display: none;
        list-style: none outside;
        margin: 15px;
    }
    
/**
    Custom helpers
**/
.rounded {
     -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}
.transition {
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;  
}
.rotate {
     -moz-transform: rotate(7.5deg);
       -o-transform: rotate(7.5deg);
  -webkit-transform: rotate(7.5deg);
      -ms-transform: rotate(7.5deg);
          transform: rotate(7.5deg);  
             filter: progid:DXImageTransform.Microsoft.Matrix(
                     M11=0.9914448613738104, M12=-0.13052619222005157,M21=0.13052619222005157, M22=0.9914448613738104, sizingMethod='auto expand');
               zoom: 1;
}

/**
    Danish heart
**/

.heart {
    position: absolute;
    left: 77px;
    width: 3em;
    height: 3em;
    font-size: 16px;
    z-index: 5;
    top: 60px;
    cursor: pointer;
    opacity: 0.75;
}
#sidebar-wrapper .heart {
    display: none;
}
    .heart:hover {
        opacity: 0.85;
        font-size: 17px;
        left: 75px;
        top: 58px;
    }
    .heart-left,
    .heart-right {
           -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
                border-radius: 100%;
        top: -30%;
    }
    .heart-left,
    .heart-right,
    .heart-bottom,
    .heart-content {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 4;
    }
    .heart-left {
        z-index: 4;
        background: #c4f074;
        left: -30%;
           -moz-box-shadow: inset 0.1em 0.1em 0.1em #aaa, -1px -1px 0 #3d3d3d;
        -webkit-box-shadow: inset 0.1em 0.1em 0.1em #aaa, -1px -1px 0 #3d3d3d;
                box-shadow: inset 0.1em 0.1em 0.1em #aaa, -1px -1px 0 #3d3d3d;
    }
    .heart-right {
        z-index: 3;
        background: #fff;
        right: -30%;
           -moz-box-shadow: inset -0.1em 0.1em 0.25em #aaa, -1px -1px 0 #3d3d3d;
        -webkit-box-shadow: inset -0.1em 0.1em 0.25em #aaa, -1px -1px 0 #3d3d3d;
                box-shadow: inset -0.1em 0.1em 0.25em #aaa, -1px -1px 0 #3d3d3d;
    }
    .heart-content {
        border-radius: 7% 0;
        top: 0;
        left: 0;
        zoom: 1;
        z-index: 4;
           -moz-transform: rotate(45deg);
             -o-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);  
                   filter: progid:DXImageTransform.Microsoft.Matrix(
                     M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476, sizingMethod='auto expand');
        
        background-color: #fff;
        background-image: 
            -webkit-linear-gradient(45deg, #c4f074 25%, transparent 25%, transparent 75%, #c4f074 75%, #c4f074), 
            -webkit-linear-gradient(45deg, #c4f074 25%, transparent 25%, transparent 75%, #c4f074 75%, #c4f074);
        background-size: 2em 2em;
        background-position: 0 0, 1em 1em;
            
           -moz-box-shadow: inset -0.075em -0.075em 0.2em #bbb;
        -webkit-box-shadow: inset -0.075em -0.075em 0.2em #bbb;
                box-shadow: inset -0.075em -0.075em 0.2em #bbb;
    }
        .heart:hover .heart-left {
        }
        .heart:hover .heart-right {
        }
        .heart:hover .heart-content {
        }


/**
 * Non-semantic helper classes: please define your styles before this section.
 */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }



/**
 * Media queries for responsive design.
 *
 * These follow after primary styles so they will successfully override.
 */

@media all and (orientation:portrait) {
  /* Style adjustments for portrait mode goes here */

}

@media all and (orientation:landscape) {
  /* Style adjustments for landscape mode goes here */

}

/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
   consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {


  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you: j.mp/textsizeadjust */
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print {
    * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
    -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
    a, a:visited { color: #444 !important; text-decoration: underline; }
    a[href]:after { content: " (" attr(href) ")"; }
    abbr[title]:after { content: " (" attr(title) ")"; }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
    tr, img { page-break-inside: avoid; }
    @page { margin: 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3{ page-break-after: avoid; }
}

